{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Notes</h1>

{% if user.fb_access_token  %}
<p>FB Logged IN</p>
{% else %}
<a class="nav-item nav-link" id="login" href="/fb-login">Connect facebook</a>
{% endif %}

{% if user.dropbox_access_token  %}
<p>Dropbox Logged IN</p>
{% else %}
<a class="nav-item nav-link" href="/dropboxlogin">Connect Dropbox</a>
{% endif %} 


<ul class="list-group list-group-flush">
  {% for path in paths %}
  <li class="list-group-item">{{path}}</li>
  {% endfor %}
</ul>

<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}
