{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content%}

  {% if user.fb_access_token %}
    <p>FB Logged IN</p>
  {% else %}
    <a class="nav-item nav-link" id="login" href="/fb-login">Connect facebook</a>
  {% endif %}
  {% if user.dropbox_access_token %}
    <p>Dropbox Logged IN</p>

    <form method="GET" action="/">
      <select class="form-select" aria-label="Default select example" name='root_folder' onchange="this.form.submit()" >
        <option value="" selected disabled hidden>Choose here</option>
        {% for folder in root_folders %}
          <option value="{{folder}}">{{folder}}</option>
        {% endfor %}
      </select>
      <!-- <button type='submit' class="btn btn-outline-warning">CHECK NOW</button> -->
    </form>


  {% else %}
    <a class="nav-item nav-link" href="/dropboxlogin">Connect Dropbox</a>
  {% endif %}

    {% if rows %}

    <table class="table">
      <thead>
        <tr>
          <th scope="col">SKU Name</th>
          <th scope="col">Campaign</th>
          <th scope="col">Settings</th>
          <th scope="col">Adsets</th>
          <th scope="col">Creative</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
          <form method="POST">
            <tr>
              <td>
                {{row.SKU}}
              </td>
              <td>
                <input type="hidden" value="{{row.camp}}" name='campaign'>
                {{row.camp}}
              </td>
  
              <td>
                {{row.settings}}
              </td>
  
              <td>
                {% for ad in row.ads %}
                  {{ad.adset}}
                  <br>
                {% endfor %}
              </td>
  
              <td>
                {% for ad in row.ads %}
                  {{ad.resource}}
                  <br>
                {% endfor %}
              </td>
  
              <td>
                  <input type="hidden" value="{{row.path}}" name='path'>
                  <button class="btn btn-primary">Launch</button>
              </td>
            </tr>
          </form>
  
        {% endfor %}
      </tbody>
    </table>

    <!-- <button class="btn btn-outline-danger">Launch All</button> -->
    {% else %}
    <div class="alert alert-danger" role="alert">
      There are no Campaigns to Launch
    </div>
    {% endif %}




  
{% endblock %}