{% extends "navbar.html" %}

{% block mainpanel %}
<div class="content-wrapper">
    <div class="row">
        {% if db_social_user %}
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <img src="{{db_social_user.pic_url}}" style="width: 100px;height:100px; float:right;" />
                    <h4 class="card-title">Dropbox connected user information</h4>

                    <div class="form-group">
                        <label>Username:</label>
                        <p>{{db_social_user.username}}</p>
                    </div>

                    <div class="form-group">
                        <label>Email:</label>
                        <p>{{db_social_user.email}}</p>
                    </div>

                    <div class="form-group">
                        <label>Last Logged in :</label>
                        <p>{{db_social_user.last_logged_in}}</p>
                    </div>

                    <div>
                        <form method="POST" action="/disconnect">
                            <input type="hidden" value={{db_social_user.id}} name="social_user">
                            <button type="submit" class="btn btn-danger">Disconnect</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Dropbox Settings</h4>
                    {% if root_folders %}
                        <form method="POST" action="/integrate_db">
                            <div class="form-group">                            

                                <label>Select root folder for campaigns files</label>
                                <select class="form-select" aria-label="Default select example" name='root_folder'
                                    onchange="this.form.submit()">
                                    <option value="" selected disabled hidden>Select Root folder</option>
                                    {% for folder in root_folders %}
                                    <option value="{{folder}}">{{folder}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                        <b>Choosed root folder :</b>{{user.root_folder}}
                    {% else %}
                    There are no root folders that contain READY folders. Please create one.
                    {% endif %}
                </div>
            </div>
        </div>

        {% else %}
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Please Connect with Dropbox</h4>
                    <div>
                        <a href="/dropboxlogin"><button type="button" class="btn btn-primary">Connect with
                                Dropbox</button></a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}
</body>

</html>