<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/feather/feather.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/ti-icons/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/typicons/typicons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/simple-line-icons/css/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/css/vendor.bundle.base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/vertical-layout-light/style.css') }}">
</head>
<style>
      h1.welcome-text{
        font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid black;
    display: flex;
      }  

</style>
<body>
    <!-- <nav class="navbar col-lg-12 col-12 p-0  d-flex align-items-top flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
          <div>
            <a style="color: #4285f4;" class="navbar-brand brand-logo" href="/">
              AppHub
            </a>    
          </div>
        </div>

        <div class="navbar-menu-wrapper d-flex align-items-top">
          <ul class="navbar-nav">
            <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
                <h1 class="welcome-text">Privacy Policy</h1>
              <h3 class="welcome-sub-text"></h3>
            </li>
          </ul>
  
        </div>
      </nav> -->
      <nav class="navbar col-lg-12 col-12 p-0  d-flex align-items-top flex-row p-4">
          <div class='container'>
               
        <div class="text-center  d-flex align-items-center justify-content-start">
           
              <a style="color: #4285f4;font-size:1.5rem;" class="navbar-brand brand-logo" href="/">
                AppHub
              </a>    
            
          </div>  
        </div>
      </nav>

<!-- privacy policy -->
<div class="container">
    <div class="row">
        <div class="col-md-12 p-5">
            <h1 class="welcome-text  py-2">Privacy Policy</h1>
            <h5>What information do we collect?</h5>
            <p>We collect information from you when you register on our app, only for the purpose of making your experience better.              When ordering or registering on our app, as appropriate, you may be asked to enter your: name or e-mail address. You may, however, visit our app anonymously.</p>

            <h5>What do we use your information for?</h5>
            <p>Any of the information we collect from you may be used in one of the following ways:</p>
              <ul>
                <li>To personalize your experience(your information helps us to better respond to your individual needs)</li>
                <li>To improve our app(we continually strive to improve our app offerings based on the information and feedback we receive from you)</li>
              </ul>

            <h5> Do we use cookies?</h5>
            <p>We do not use cookies</p>
             
            <h5>How to delete my data?</h5>
            <p>If you would ever like to delete any data stored by the app you are using or any app affiliated with hm ventures, llc please email hmventurespr@gmail.com with the subject: “delete data” and include your email, the app you use, and any username you use to log in. Your data will be deleted within 14 days.</p>
              
            <h5>Do we disclose any information to outside parties?</h5>  
            <p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our app, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our app policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
              
            <h5>Childrens Online Privacy Protection Act Compliance</h5>  
            <p>We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), our policy is located at.</p>  

            <h5>Your Consent</h5>
            <p>By using our site, you consent to our privacy policy.</p>

            <h5>Contacting Us</h5>
            <p>If there are any questions regarding this privacy policy, you may contact us using the information below:</p>

            hmven.com1511 ave ponce de Leon 9121</br>
            san juan, puerto rico 00909hmventurespr@gmail.com            
       
        </div>
    </div>
</div>
</body>

<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"> <a href="#"
          target="_blank">AppHub</a> </span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights
        reserved.</span>
    </div>
  </footer>
</html>


